#body1 { width: 2000px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;}
    

    #epicodegarantisce { font-size: 35px; margin-bottom: 3.6em;}


    #logo { display: inline-block;
    background-color: black;}
    
    
    
    .bluetitle { color: rgb(127, 178, 245);
    font-size: 2em;}
    #redsquare {background-color: rgb(241, 75, 34);
    width: 500;
     height: 500px; 
     color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;}
    
    
    #titlelogo { background-color: black;}
    
    
    #primoriquadro {background-image: url(banner.jpg);
    width: 2000px; 
    height: 450px; 
    padding-top:21em
  

}

    
    #lastsquare {color: white;
         background-color: rgb(34, 177, 177);
        width: 2000px;
        height: 400px;
        margin-left: auto; 
        margin-right: auto }
   
    
    
    #firstbutton {background-color: rgb(255, 72, 0); 
        border-radius: 5px;
         color: aliceblue;
    
    }
    #roundphoto {border-radius: 50%;
        
    width: 350px;}
    
    #openlaptop { width: 500px;
    border-radius: 4px;}
    #closedlaptop {width: 500px;
    border-radius: 4px;}
    #people {width: 500px;
    border-radius: 5px;}
    
    #iltuopc {border-radius: 5px;}
    
    
    #imparaora {border-radius: 4px;}
    #lavorasubito {
         border-radius: 5px;}
    
         #redscript { font-style: italic;}
    
         hr { color: white; width: 200px;}

   #contacts { padding-top: 8em;}
